<!--  This file only contains the html that creates the calendar widget.
	It's intended to be accessed inside index.html .
-->

<div  id='cal-boundary' >

	<div  id='month_and_year'>
		<div  id='month-and-buttons' >

			<div  id='back-one-month-container'>
				<button  class='month-button'  id='back-one-month'   
					ng-click='cal.backOneMonthUpdate()'>

				 <- 
				</button>
			</div>

			<div  id='month-name'>
				<select  id='month-selector'  name='monthNameOptions'  
				ng-model='cal.model.monthName'
				ng-options='item for item in cal.model.monthNames'  
				ng-change='cal.update()'  >
  				</select>
			</div>
				
			<div  id='forward-one-month-container'>
				<button  class='month-button'  id='forward-one-month'    
				    ng-click='cal.forwardOneMonthUpdate()' >

				 -> 
				</button>
			</div>
		</div>

		<div  id='year-container'>
			<input  type='number'   id='year'  ng-model='cal.model.year'   
				min='1004'  max='9999' 
				ng-change='cal.update()' 
			/>
		</div>
	</div>

	<div class='day-name'  ng-repeat='dayname in cal.model.days'>
		{{dayname}}
	</div>

	<div  class='cal-day'  
	   ng-repeat='daySquareNoNumber in 
				cal.model.daySquares.withoutNumbers  track by $index'>

	{{daySquareNoNumber}}
	</div>
	
	<div  class='cal-day'  
	    ng-repeat='numberedDaySquare in cal.model.daySquares.withNumbers'>

		{{numberedDaySquare}}
	</div>

</div>