
* {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
}


html,
body,
.fills-parent-height,
.fills-parent-dimensions {
	height: 100%;
}


body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


#cal-boundary {
	border: 1px solid lightgrey;
	padding: 2px 4px;
	font-size: 1em;
}


.fills-parent-width,
.fills-parent-dimensions {
	width: 100%;
}


.controls-container {
	display: inline-flex;
	height:95px;
	margin: auto;
	justify-content: center;
	font-size: 17px;
}


.click-execute-rapid-repeat-function {
	display: inline-block;
}


.controls-container .click-execute-rapid-repeat-function mat-icon {
	font-size: 28px;
}


.controls-container .click-execute-rapid-repeat-function mat-icon {
	display: inline-block;
	margin: auto;
	text-align: center;
}


.calendar-input-container {
	display: inline-block;
	margin:auto;
}


.week-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}


.day-column {
	display: inline-flex;
	justify-content: right;
	width: 13.8%;
	height: 100%;
	margin: auto;
	border: 1px dotted lightgrey;
	border-left: none;
	border-bottom: 1px dotted transparent;
	border-collapse: collapse;
}


.calendar-day {
	display: inline-block;
	justify-content: center;
	margin: auto;
	color: #545454;
	box-sizing: border-box;
}


.day-square {
	justify-content: right;
	text-align: right;
	padding-bottom: 3px;
	padding-top: 3px;
}


.day-name {
	border: 1px solid transparent;
	padding-bottom: 3px;
	text-align: center;
}


.left-and-right-arrow-buttons-container {
	display: inline-block;
}


.left-and-right-arrow-buttons-container div.click-execute-rapid-repeat-function {
	top: 20px;
	right: 2px;
}
