
* {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
}


html,
body,
.fills-parent-height,
.fills-parent-dimensions,
#year-container mat-form-field div {
	height: 100%;
}


body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


#cal-boundary {
	height: fit-content;
	border: 1px solid lightgrey;
	padding: 2px 4px;
	font-size: 1em;
}


#month-name mat-form-field div {
	padding: 0;
	margin: 0;
}


#month-name mat-select div {
	padding: 0;
}


.fills-parent-width,
.fills-parent-dimensions,
#year-container mat-form-field div {
	width: 100%;
}


.controls-container {
	display: inline-block;
}


.controls-container .click-execute-rapid-repeat-function {
	display: inline-block;
}


.calendar-input-container {
	height: 100%;
	display: inline-block;
}


.week-block {
	margin: auto;
}


.calendar-day {
	display: inline-flex;
	flex-flow: row;
	box-sizing: border-box;

	margin-left: 2px;
}


.month-button-container {
	display: inline-block;
	width: 35px;
}


.month-button {
	padding: 2px;
}


.left-and-right-arrow-buttons-container {
	display: inline-block;
	height: fit-content;
}


.year-button-container {
	display: block;
	float: none;
	height: fit-content;
	width: fit-content;
}


.year-button-container .year-button {
	width: fit-content;
	height: fit-content;
	margin: auto;
}


#forward-one-year-container {
	bottom: 5px;
}


#back-one-year-container {
	bottom: 15px;
}


#year-container mat-form-field div {
	margin-top: 0;
	padding-top: 0;
}
