/* You can add global styles to this file, and also import other style files */

* {
	padding: 0;
	margin: 0;
	position: relative;
}


html, body {
	height: 100%;
}


body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


div {
	float: left;
}

#cal-boundary {
	width: 100%;
	min-height: 363px;
	border: 1px solid lightgrey;
	margin-left: 0;
	padding: 2px 4px;
	font-size: 15px;
}

.week-block {
	display: block;
	width: 100%;
}


.day-square {
	display: inline-block;
	width: 12.5%;
	height: 40px;
	border: 1px solid lightgrey;
	text-align: right;
	padding-left: 2px;
	margin-left: 2px;
}


.day-name {
	display: inline-block;
	width: 12.5%;
	height: 14px;
	border: 1px solid transparent;
	padding-left: 2px;
	padding-bottom: 6px;
	margin-left: 2px;
	text-align: center;
}


#month-and-year-controls {
	display: block;
	width: 100%;
	height: 75px;
	border: none;
	text-align: center;
	margin-bottom: 6px;
}


#month-and-buttons {
	display: inline-block;
	height: 50px;
	font-size: 28px;
	margin-top: 4px;
	margin-right: 15px;
}


#month-name {
	display: inline;
	position: relative;
	width: max-content;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 4px;
	padding-right: 4px;
}


#month-selector {
	display: inline;
	position: relative;
	font-size: 16px;
	width: 100%;
	padding-left: 4px;
	height: 100%;
	border: 1px solid lightgrey;
}


.month-button-container {
	display: inline-block;
	height: 100%;
	width: 35px;
}


.month-button {
	height: 100%;
	width: 100%;
	padding: 2px;
}


#year-container {
	display: inline-block;
	position: relative;
	width: 105px;
	height: 50px;
}


#year-container mat-form-field {
	width: 100%;
	height: 100%;
}


#year-container mat-form-field div {
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding-top: 0;
}


#year-container mat-error {
	margin-top: 10px;
}


#year {
	font-size: 24px;
	margin-top: 3px;
	padding-left: 5px;
}
